@use "./variables" as *;

%calendar-rows {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

%purple-bg-components {
    background: linear-gradient(45deg, $purple, $dark-magenta);
    color: $white;
}