@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;

.event {
    @extend %white-bg-components;
    border-radius: 5px;
    padding: 5px 10px;
    height: 62px;
    width: 130.28px;
    border: none;
    cursor: pointer;

    p {
        font-size: 12px;
        line-height: 1.5em;
        font-family: 'Noto Sans', sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &:first-of-type {
            height: 3em;
        }
    }
    
    &:not(.event:first-of-type) {
        display: none;
    }
}